.navigation {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.navigation a {
    margin: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.main {
    width: 80%;
    margin-top: 5rem; 
    margin-inline: auto;
}