@import "./index.module.css";

.navigation {
    width: 100%;
    height: 5rem;
    background-color: var(--gray-05);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
}

.navigation a {
    font-size: var(--font-m);
    padding: .5rem 0.75rem;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: solid 4px var(--gray-05);
}

.navigation a:hover,
.navigation a:active {
    border-bottom: solid 4px var(--gray-50);
}

.main {
    width: 80%;
    margin-top: 5rem; 
    margin-inline: auto;
}