@import "./index.module.css";

.form {
    width: 60%;
    margin-inline: auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.form input {
    width: 100%;
    margin: .8rem 0;
	font-size: 14px;
	background: #e8e8e8;
	color: #242424;
	padding: 0.9em 1.9em;
	min-height: 40px;
	border-radius: 4px;
	outline: none;
	border: none;
	box-shadow: 6px 6px 12px #c5c5c5,
				-6px -6px 12px #ffffff;
}

.form input:hover {
	outline: 1px solid lightgrey;
}

.form button {
    width: 30%;
    cursor: pointer;
	color: #090909;
	padding: 0.9em 1.9em;
    margin-top: 1.2rem;
    margin-inline: auto;
	font-size: 1rem;
	border-radius: 0.5em;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
	transition: all .3s;
	box-shadow: 6px 6px 12px #c5c5c5,
				-6px -6px 12px #ffffff;
}

.form button:active {
	color: #666;
 	box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.signup {
	margin-inline: auto;
	margin-top: 1.2rem;
}