@import "./index.module.css";

.locationPreview {
    height: 276px;
    max-width: 976px;
    display: flex;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 2rem;
    box-shadow: rgb(61 56 85 / 20%) 0px 0px 10px 0px;
    border-radius: 0.5rem;
}

.locationPreviewImg {
    height: 276px;
    max-width: 336px;
    min-width: 336px;
}

.locationPreviewImg img{
    height: 100%;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
}

.locationPreviewInfo {
    padding: 1rem 1rem 1rem 2rem;
}

.locationPreviewInfo h2 {
    font-size: var(--font-m);
    margin-bottom: .5rem;
    font-weight: normal;
}

.locationPreviewInfo p,
.locationPreviewInfo a {
    font-family: var(--font-primary);
    font-size: var(--font-s);
    margin-bottom: .5rem;
    text-decoration: none;
}

.locationPreviewInfo a {
    color: var(--blue-80);
}

.btnContainer {
    max-width: 976px;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.prevBtn,
.nextBtn {
    width: 138px;
    cursor: pointer;
	color: #090909;
	padding: 0.9em 1.9em;
	font-size: var(--font-s);
	border-radius: 0.5em;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
	transition: all .3s;
	box-shadow: 6px 6px 12px #c5c5c5,
				-6px -6px 12px #ffffff;
}

.prevBtn:active,
.nextBtn:active {
    color: #666;
 	box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.prevBtn:disabled,
.nextBtn:disabled {
    color: var(--gray-20);
    box-shadow: 6px 6px 12px #c5c5c5,
				-6px -6px 12px #ffffff;
}